#secondline {
	width: 95%;
	margin: 0 auto;
}
.smalltile {
	display: inline-block;
	height: 84px; /* 80 + 2*2 for border */
	width: 30%;
	font-size: 17px;
	line-height: 25px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

.buf {
	height: 15px; /* 80 - 25*2 for each line / 2 */
}

#quit {
	background: #77cd82;
	border: 2px solid #77cd82;
}

#manage {
	background: #B19CD9;
	border: 2px solid #B19CD9;
}

#past {
	background: #F47264;
	border: 2px solid #F47264;
}

#ask {
	margin-top: 20px;
	margin-bottom: 10px;
}

#current {
	margin-bottom: 20px;
}

.ic {
	height: 90px;
	margin: 7px;
}

a {
	text-decoration: none;
}


#quit:hover, #quit:active {
	color:#77cd82;
	background: white;
}

#manage:hover, #manage:active {
	color: #B19CD9;
	background: white;
}

#past:hover, #past:active {
	color: #F47264;
	background: white;
}

.inst {
	font-size: 13pt;
	margin-top: 20px;
}

.groupname {
	font-size: 20pt;
	font-family: "Source Sans Pro Bold";
	margin-top: 5px;
	line-height: 1.2;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.bigtile {
	width: 90%;
	height: 104px;
	margin: 0 auto;
	color: white;
	font-size: 22px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
}

.buf2 {
	height: 20px;
}

.icon {
	margin-left: 10%;
	width: 30%;
	float: left;
	height: 104px;
	text-align: right;
	vertical-align: middle;
}

.label {
	height: 104px;
	width: 60%;
	float: left;
}

.warningmessage {
	width: 80%;
	text-align: center;
	font-size: 13pt;
	border-radius: 15px;
	background-color: rgba(255,255,255,0.93);
	padding: 15px;
	position: absolute;
	box-shadow: 2px 2px 2px #C0C0C0;
	display: none;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 20px;
}