
input[type='text'], textarea, input[type='tel']  {
	border: 1px solid #999999 !important;
	font-size:18px;
	padding: 3px;
	width: 90%;
	text-align: left;
	border-radius: 0 !important;
	font-family: 'Pontano Sans';
	box-shadow: none;
	padding-left: 15px;
	padding-right: 15px;
}

#question {
	font-size: 22px;
	text-align: center;
}

.hiddeninput {
	display: none;
}

#video {
	padding: 10px 20px;
	margin: 2px;
	font-weight: bold;
	color: white;
	font-size: 18px;
	background: #D0D0D0;
	display: inline-block;
}

#image {
	padding: 10px 20px;
	margin: 2px;
	font-weight: bold;
	color: white;
	font-size: 18px;
	background: #D0D0D0;
	display: inline-block;
}


.warningmessage {
	width: 80%;
	text-align: center;
	font-size: 15pt;
	font-weight: bold;
	border-radius: 15px;
	background-color: rgba(245,245,245,0.93);
	padding: 15px;
	position: absolute;
	box-shadow: 2px 2px 2px #C0C0C0;
	display: none;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 100px;
}

.ic {
	width: 40px;
	height: 40px;
}

.imagevideobar {
	margin: 10px;
}