
input[type='text'], textarea, input[type='tel']  {
	border: 1px solid #999999 !important;
	font-size:18px;
	padding: 3px;
	width: 90%;
	text-align: left;
	border-radius: 0 !important;
	font-family: 'Pontano Sans';
	box-shadow: none;
	padding-left: 15px;
	padding-right: 15px;
}

#question {
	font-size: 22px;
	text-align: center;
}