@font-face {
    font-family: Pontano Sans;
    src: url("PontanoSans-Regular.ttf") 
}

@font-face {
    font-family: Source Sans Pro Bold;
    src: url("SourceSansPro-Bold.otf") 
}

body {
	font-family: 'Pontano Sans', sans-serif;
	text-align: center;
	color: #424242;
}

input[type='text'],input[type='tel'],input[type='password'],textarea {
	border: 1px solid #999999 !important;
	font-size:24px;
	padding: 5px;
	width: 85%;
	box-shadow: 2px 2px 2px #D0D0D0;
	border-radius: 0 !important;
	font-family: 'Pontano Sans';
}

::-webkit-input-placeholder {
   color: #DDDDDD;
}

.warning {
	margin: 10px;
	color: #F47264;
	font-weight: bold;
}

form {
	width: 95%;
	display: inline-block;
}

input {
	text-align:center;
	font-size: 20px;
	margin-top: 5px;
}

ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro Bold';
	text-transform: uppercase;
}

h2 {
	font-size: 21pt;
}

h3 {
	font-size: 17pt;
}


.header {
	width: 100%;
	padding-bottom: 0;
	margin-bottom: 0;
	text-align: center;
}

.main-header {
	width: 100%;
	padding-bottom: 5px;
	margin-bottom: 0;
	text-align: center;
	border-bottom: 1px solid #84CBC5;
}

.logo {
	width: 95%;
	max-width: 546px;
}

.subheader {
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 80%;
}

a.secondary {
	display: inline-block;
	width: 80px;
	padding: 10px 20px;
	margin: 10px;
	font-weight: bold;
	background: white;
	font-size: 18px;
	color: #CCCCCC;
	border:2px solid #CCCCCC;
	text-decoration:none;
}

a:hover.secondary {
	background: #CCCCCC;
	color: white;
	text-decoration:none;
}

a:visited.secondary {
	text-decoration:none;
}

.index-buttons {
	margin-top: 10px;
}

a.main {
	display: inline-block;
	width: 75px;
	padding: 10px 20px;
	margin: 10px;
	font-weight: bold;
	background: white;
	font-size: 18px;
	color: #84CBC5;
	border:2px solid #84CBC5;
	text-decoration:none;
}

a:hover.main {
	background: #84CBC5;
	color: white;
	text-decoration:none;
}

a:visited.main {
	text-decoration:none;
}

a:active.main {
	background: #84CBC5;
	color: white;
	text-decoration:none;
}

.textbox {
	margin-bottom: 20px;
	width: 95%;
}

.subbut {
	width: 95%;
}

.catbut {
	width: 85%;
}
.removebut {
	width: 60%;
	text-align: center;
}

.closebut {
	width: 4%;
}

.button::-webkit-file-upload-button {
  visibility: hidden;
}
.button:before {
	content: 'Add a Picture';
	display: inline-block;
	width: 180px;
	padding: 10px 20px;
	margin-left: 28px;
	font-weight: bold;
	font-size: 18px;
	border:2px solid #F8D35E;
	background: #F8D35E;
	color: white;
	text-decoration:none;
	text-align: center;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
}
.button:hover:before {
	color: #F8D35E;
	background: white;
	text-decoration:none;
}

.button2::-webkit-file-upload-button {
  visibility: hidden;
}
.button2:before {
	content: 'Add a Video';
	display: inline-block;
	width: 180px;
	padding: 10px 20px;
	margin-left: 28px;
	font-weight: bold;
	font-size: 18px;
	border:2px solid #F47264;
	background: #F47264;
	color: white;
	text-decoration:none;
	text-align: center;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
}
.button2:hover:before {
	color: #F47264;
	background: white;
	text-decoration:none;
}

.questions {
	margin: 0 auto;
}

a.question-1 {
	display: inline-block;
	width: 180px;
	padding: 10px 20px;
	margin: 20px;
	font-weight: bold;
	background: white;
	font-size: 18px;
	color: #84CBC5;
	border:2px solid #84CBC5;
	text-decoration:none;
}

a:hover.question-1 {
	background: #84CBC5;
	color: white;
	text-decoration:none;
}

a:visited.question-1 {
	text-decoration:none;
}

a:active.question-1 {
	background: #84CBC5;
	color: white;
	text-decoration:none;
}

a.question-2 {
	display: inline-block;
	width: 180px;
	padding: 10px 20px;
	margin: 20px;
	font-weight: bold;
	background: white;
	font-size: 18px;
	color: #F8D35E;
	border:2px solid #F8D35E;
	text-decoration:none;
}

a:hover.question-2 {
	background: #F8D35E;
	color: white;
	text-decoration:none;
}

a:visited.question-2 {
	text-decoration:none;
}

a:active.question-2 {
	background: #F8D35E;
	color: white;
	text-decoration:none;
}

a.question-3 {
	display: inline-block;
	width: 180px;
	padding: 10px 20px;
	margin: 20px;
	font-weight: bold;
	background: white;
	font-size: 18px;
	color: #F47264;
	border:2px solid #F47264;
	text-decoration:none;
}

a:hover.question-3 {
	background: #F47264;
	color: white;
	text-decoration:none;
}

a:visited.question-3 {
	text-decoration:none;
}

a:active.question-3 {
	background: #F47264;
	color: white;
	text-decoration:none;
}

a.question-4 {
	display: inline-block;
	width: 180px;
	padding: 10px 20px;
	margin: 20px;
	font-weight: bold;
	background: white;
	font-size: 18px;
	color: #B19CD9;
	border:2px solid #B19CD9;
	text-decoration:none;
}

a:hover.question-4 {
	background: #B19CD9;
	color: white;
	text-decoration:none;
}

a:visited.question-4 {
	text-decoration:none;
}

a.question-5 {
	display: inline-block;
	width: 180px;
	padding: 10px 20px;
	margin: 5px;
	margin-bottom: 20px;
	font-weight: bold;
	background: white;
	font-size: 18px;
	color: #CCCCCC;
	border:2px solid #CCCCCC;
	text-decoration:none;
}

a:hover.question-5 {
	background: #CCCCCC;
	color: white;
	text-decoration:none;
}

a:visited.question-5 {
	text-decoration:none;
}

a.group-1 {
	display: inline-block;
	width: 180px;
	padding: 10px 20px;
	margin: 10px;
	font-weight: bold;
	font-size: 18px;
	background: #84CBC5;
	color: white;
	border:2px solid #84CBC5;
	text-decoration:none;
}

a:hover.group-1 {
	text-decoration:none;
	background: white;
	color: #84CBC5;
}

a:visited.group-1 {
	text-decoration:none;
}

a:active.group-1 {
	background: white;
	color: #84CBC5;
	text-decoration:none;
}

a.group-2 {
	display: inline-block;
	width: 180px;
	padding: 10px 20px;
	margin: 10px;
	font-weight: bold;
	font-size: 18px;
	border:2px solid #F8D35E;
	background: #F8D35E;
	color: white;
	text-decoration:none;
}

a:hover.group-2 {
	color: #F8D35E;
	background: white;
	text-decoration:none;
}

a:visited.group-2 {
	text-decoration:none;
}

a:active.group-2 {
	color: #F8D35E;
	background: white;
	text-decoration:none;
}

a.group-3 {
	display: inline-block;
	width: 180px;
	padding: 10px 20px;
	margin: 10px;
	font-weight: bold;
	color: white;
	font-size: 18px;
	background: #F47264;
	border:2px solid #F47264;
	text-decoration:none;
}

a:hover.group-3 {
	color: #F47264;
	background: white;
	text-decoration:none;
}

a:visited.group-3 {
	text-decoration:none;
}

a:active.group-3 {
	color: #F47264;
	background: white;
	text-decoration:none;
}

a.group-4 {
	display: inline-block;
	width: 180px;
	padding: 10px 20px;
	margin: 10px;
	font-weight: bold;
	color: white;
	font-size: 18px;
	background: #B19CD9;
	border:2px solid #B19CD9;
	text-decoration:none;
}

a:hover.group-4 {
	color: #B19CD9;
	background: white;
	text-decoration:none;
}

a:visited.group-4 {
	text-decoration:none;
}

a:active.group-4 {
	color: #B19CD9;
	background: white;
	text-decoration:none;
}

a.group-5 {
	display: inline-block;
	width: 180px;
	padding: 10px 20px;
	margin: 10px;
	font-weight: bold;
	color: white;
	font-size: 18px;
	background: #85E491;
	border:2px solid #85E491;
	text-decoration:none;
}

a:hover.group-5 {
	color: #85E491;
	background: white;
	text-decoration:none;
}

a:visited.group-5 {
	text-decoration:none;
}

a:active.group-5 {
	color: #85E491;
	background: white;
	text-decoration:none;
}

a.group-home {
	position:fixed;
	width:100%;
	bottom: 0;
	opacity: 0.75;
	left: 0;
	padding: 10px 0;
	z-index: 99;
	font-weight: bold;
	font-size: 18px;
	background: #84CBC5;
	color: white;
	border:2px solid #84CBC5;
	text-decoration:none;
}

a:hover.group-home {
	text-decoration:none;
	opacity: 1;
}

a:visited.group-home {
	text-decoration:none;
}

a:active.group-home {
	text-decoration:none;
	opacity: 1;
}

.buffer {
	display: block;
	height: 50px;
	width: 100%;
}

.topbuffer {
	height: 80px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}